<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kev.projetkevloic">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.home.HomeOiseaux" />
        <activity android:name=".View.home.MainActivity" />
        <activity android:name=".View.home.HomeOrnithologue" />
        <activity android:name=".View.home.HomeObservations" />
        <activity android:name=".View.show.show_oiseau" />
        <activity android:name=".View.home.HomeParam" />
        <activity android:name=".View.add.addOiseau" />
        <activity android:name=".View.row.row_ornitho" />
        <activity android:name=".View.show.show_ornitho" />
        <activity android:name=".View.add.addOrni" />
        <activity android:name=".View.edit.edit_oiseau" />
        <activity android:name=".View.edit.edit_ornitho" />
        <activity android:name=".View.row.row_observ" />
        <activity android:name=".View.show.show_observ" />
        <activity android:name=".View.add.addObserv" />
        <activity android:name=".View.edit.edit_observ" />
    </application>

</manifest>